@import "tailwindcss";

@font-face {
    font-family: Pretendard;
    src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    display: swap;
}
@font-face {
    font-family: Pretendard;
    src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    display: swap;
}
@font-face {
    font-family: Pretendard;
    src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    display: swap;
}

body {
    font-family: "Pretendard", sans-serif;
}